<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.northmeter.prepaymentmanage">

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="meteric.com.jpushtest.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon">

        <!-- 屏幕适配的宽高 -->
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity
            android:name=".ui.WelcomeActivity"
            android:theme="@style/welcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeManageActivity" />
        <activity android:name=".ui.HomeUserActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/loginTheme" />
        <activity android:name=".ui.Management" />
        <activity android:name=".ui.EquipmentSelection" />
        <activity android:name=".ui.EquipmentDetail" />
        <activity android:name=".ui.CollectEquipmentActivity" />
        <activity android:name=".ui.LinesEquipmentActivity" />
        <activity android:name=".ui.CommonDataActivity" />
        <activity android:name=".ui.RegistActivity" />
        <activity android:name=".ui.ForgetPwdActivity" />
        <activity android:name=".ui.BillsAcvtivity" />
        <activity android:name=".ui.RemoteControl" />
        <activity android:name=".ui.DevicesQueryActivity" />
        <activity android:name=".ui.TopupWater" />
        <activity android:name=".ui.DeviceChoiceActivity" />
        <activity android:name=".ui.ChangePwdActivity" />
        <activity android:name=".ui.QrCodeActivity" />
        <activity android:name=".ui.FeedbackActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.BindRoomActivity" />
        <activity android:name=".ui.ControlTaskReultActivity" />
        <!--灯光控制-->
        <activity android:name=".ui.light.activity.UserLightChoiceActivity"/>
        <activity android:name=".ui.light.activity.UserLightControlActivity"/>
        <activity android:name=".ui.light.activity.ManagerLightControlActivity"/>
        <!--门锁相关界面-->
        <activity android:name=".ui.GateLockFirstActivity"/>
        <activity android:name=".ui.GateLock.MainOfLogqueryActivity"/>
        <activity android:name=".ui.GateLock.OpenDoorActivity"/>
        <activity android:name=".ui.GateLock.OpenDoorDetailActivity"/>
        <!--空调控制-->
        <activity android:name=".ui.air_conditioner.activity.ManagerAirConditionerControlActivity"/>
        <!-- &lt;!&ndash; User defined. 用户自定义的广播接收器&ndash;&gt; -->
        <receiver
            android:name=".Reciver.JPushBrocastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!--微信支付-->
        <activity android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/app_name"/>
        <activity android:name="com.northmeter.prepaymentmanage.wxapi.WXPayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
    </application>

</manifest>